body {
	margin:  0;
	font-family: Verdana, Geneva, Tahoma, sans-serif;

}

.label1{
	color: white;
}

.logo {
	position:absolute;
	top:2%;
	left:27.5%;
	right:50%;
}

.upload{
	text-align:end;
	position: absolute;
	bottom: 18px;
	color: #f2f2f2;
	padding-left: 15px;

}
.content {
	width: 100%;
	background: #1e1e20;
	display: flex;
	justify-content: center;
	align-items: center;
	background-image: url('../img/backgr8.jpg');
	background-size: cover;
	background-repeat: no-repeat;
}


.form-content  {
	background: #fff;
	width: 1100px;
	border-radius: 10px;
	margin: 95px 0;
	position: relative;
	box-shadow: 0 14px 28px rgba(156, 150, 150, 0.699), 
	0 10px 10px rgba(77, 74, 74, 0.22);

}

.form-content .form-detail {
	position: relative;
	width: 100%;
	display: flex;
}

.form-content .form-detail h2 {
	font-weight: 500;
	font-size: 25px;
	margin-bottom: 34px;
	padding: 100px 50px 0px 60px;
}
.form-content .form-detail .form-left {
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
	width: 100%;
}
.form-content .form-detail .form-left h2 {
	color: #a02222;
}
.form-content .form-detail .form-right {
	width: 100%;
	background: #1e1e20;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
}
.form-content .form-detail .form-right h2 {
	color: #fff;
}
.form-content .form-detail .form-group {
	display: flex;
}
.form-content .form-detail .form-row {
	position: relative;
	margin-bottom: 24px;
	padding-left: 60px;
    padding-right: 50px;
}
.form-content .form-detail .form-left .form-group .form-row.form-row-1 {
	width: 50%;
	padding: 0 12px 0 60px;
}
.form-content .form-detail .form-left .form-group .form-row.form-row-2 {
	width: 50%;
	padding: 0 50px 0 12px;
}
.form-content .form-detail .form-left .form-group .form-row.form-row-3 {
	width: 73%;
	padding: 0 12px 0 60px;
}
.form-content .form-detail .form-left .form-group .form-row.form-row-4 {
	width: 50%;
	padding: 0 50px 0 12px;
}

.form-content .form-detail .form-left .form-group .form-row.form-row-5 {
	width: 70%;
	padding: 0 50px 0 12px;
}


.form-content .form-detail .form-left .form-group .form-row.form-row-6 {
	width: 20%;
	padding: 0 12px 0 60px;
}

.form-content .form-detail .form-right .form-group .form-row.form-row-1 {
	width: 100%;
	padding: 0 12px 0 60px;
}
.form-content .form-detail .form-right .form-group .form-row.form-row-2 {
	width: 100%;
	padding: 0 50px 0 12px;
}



.form-content .form-detail select,
.form-content .form-detail input {
	width: 100%;
    padding: 11.5px 15px 15px 15px;
    border: 1px solid transparent;
    background: transparent;
    appearance: unset;
    outline: none;
    font-size: 16px;
    box-sizing: border-box;

}
.form-content .form-detail select {
	background: 0 0;
	position: relative;
	z-index: 9;
	cursor: pointer;
}
.form-content .form-detail .form-left select {
	color: #666;
}

.form-content .form-detail .form-right select {
	color: #f2f2f2;
}
.form-content .form-detail .select-btn {
	z-index: 0;
    position: absolute;
    top: 30%;
    right: 11.5%;
    font-size: 18px;

}
.form-content .form-detail .form-left .select-btn {
    color: rgb(136, 51, 51);
}
.form-content .form-detail .form-right .select-btn {
    color: #f2f2f2;
}
.form-content .form-detail .form-group .form-row.form-row-4 .select-btn {
	top: 20%;
	right: 26%;
}
.form-content .form-detail .form-right .form-group .form-row.form-row-2 .select-btn {
	top: 20%;
	right: 19%;
}


.form-content .form-detail .form-left input {
	color: #1e1e20;
}
.form-content .form-detail .form-right input {
	color: #fff;
}




.form-content .form-detail .form-left input,
.form-content .form-detail .form-left select {
	border-bottom: 1px solid #ccc;
}
.form-content .form-detail .form-left input:focus,
.form-content .form-detail .form-left select:focus {
	border-bottom: 1px solid #999;
}


.form-content .form-detail .form-left select option { /* dropdown-box selection dispay*/
	background: #1e1e20;
	color: #ffffff;
}

.form-content .form-detail .form-right input,
.form-content .form-detail .form-right select {
	border-bottom: 1px solid;
	border-bottom-color: rgba(255, 255, 255, 0.3);
}

.form-content .form-detail .form-right input:focus,
.form-content .form-detail .form-right select:focus {
	border-bottom: 1px solid #ccc;
}

.form-content .form-detail .form-right select option {
	background: #1e1e20;
}





.form-content .form-detail .form-checkbox {
	margin-top: 37px;
	padding: 0 50px 0 60px;
	position: relative;
}

.form-content .form-detail .form-checkbox1 {
	margin-top: 37px;
	padding: 0 10px 0 10px;
	position: relative;
}


.form-content .form-detail .form-checkbox input {
	position: absolute;
    opacity: 0;
}
.form-content .form-detail .form-checkbox .checkmark {
	position: absolute;
    top: 1px;
    left: 60px;
    height: 15px;
    width: 15px;
    border: 1px solid #e5e5e5;
    cursor: pointer;
}
.form-content .form-detail .form-checkbox .checkmark::after {
	content: "";
    position: absolute;
    left: 5px;
   	top: 1px;
    width: 3px;
    height: 8px;
    border: 1px solid #fff;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
    display: none;
}
.form-content .form-detail .form-checkbox input:checked ~ .checkmark::after {
    display: block;
}
.form-content .form-detail .form-checkbox p {
    margin-left: 34px;
    color: #e5e5e5;
    font-size: 14px;
    font-weight: 400;
}
.form-content .form-detail .form-checkbox .text {
	font-weight: 400;
	color: #fff;
	text-decoration: underline;
}
.form-content .form-detail .form-right .form-row-last {
    padding-left: 180px;
    margin: 44px 0 10px;
	align-items: center;
	justify-content: center;
}
.form-content .form-detail .form-right .register {
	background: #fff;
	border-radius: 25px;
	box-shadow: 0px 6px 17px 0px rgba(0, 0, 0, 0.15);
	width: 180px;
	border: none;
	margin: 6px 0 50px 0px;
	cursor: pointer;
	color: #333;
	font-weight: 700;
	font-size: 15px;
}
.form-content .form-detail .form-right .register:hover {
	background: #ccc;
}
.form-content .form-detail .form-right .form-row-last input {
	padding: 12.5px;
}


/*alters  for both check box and radio button */

.col-1{
	width: 100%;
	padding-left:75px;
	color:#1e1e20;
}
  .input-group {
	position: relative;
	margin-bottom: 22px;
  }
  
  .input-group-icon {
	position: relative;
  }
  .p-t-1 {
	padding-top: 10px;
	padding-right: 15px;
	color: rgb(238, 238, 238);
	
  }
 .col-2{
	width: 50%;
	padding-left:25px;
	padding-right: 10px;
}

.col-3{
	padding-left: 10px;
	padding-right: 15px;

}
  .input-group1 {
	position: relative;
	margin-bottom: 22px;
  }
  .p-t-10 {
	padding-top: 10px;
	padding-right: 15px;
	padding-left: 25px;
	color: rgb(253, 253, 253);
  }

  /*radio-button*/
  .radio-container {
	display: inline-block;
	position: relative;
	padding-left: 30px;
	cursor: pointer;
	font-size: 16px;
	color: rgb(61, 60, 60);
	user-select: none;
	padding: 5px;
	padding-left: 25px;
	margin-left:5px;
  }
  
  .radio-container input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
  }
  
  .radio-container input:checked ~ .rad-button {
	background-color: #e5e5e5;
  }
  
  .radio-container input:checked ~ .rad-button:after {
	display: block;
  }
  
  .radio-container .rad-button:after {
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 12px;
	height: 12px;
	border-radius: 50%;
	background: #a02222;
  }

  .rad-button {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	left: 0;
	height: 20px;
	width: 20px;
	background-color: #e5e5e5;
	border-radius: 50%;
	box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, 0.08);
  }
  
  .rad-button:after {
	content: "";
	position: absolute;
	display: none;
  }



/*checkbox*/
.control {
  display: block;
  position: relative;
  padding-left: 30px;
  margin-bottom: 15px;
  cursor: pointer;
  font-size: 18px; }

.control input {
  position: absolute;
  z-index: -1;
  opacity: 0; }

.control__indicator {
  position: absolute;
  top: 2px;
  left: 0;
  height: 20px;
  width: 20px;
  background: #e6e6e6;
 }

.control--radio .control__indicator {
  border-radius: 50%; 
  border: #e6e6e669;
}

.control:hover input ~ .control__indicator,
.control input:focus ~ .control__indicator {
  background: #ccc; }

.control input:checked ~ .control__indicator {
  background: #700a0aec; }



.control__indicator:after {
  content:"\2713";
  position: absolute;
  display: none; }

.control input:checked ~ .control__indicator:after {
  display: block;
  color: #fff; }

.control--checkbox .control__indicator:after {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -52%); }





/* Responsive */
@media screen and (max-width: 1199px) {
	.form-content {
		margin:  95px 20px;
	}

	.content{
		background-size: cover;
		width:103%;

	}

	.logo {
		width:100%;
		left:0px;
		right: 25px;
		top:0;
		background-color: #1e1e20;
		border-top-left-radius: 5px;
		border-top-right-radius: 10px;
	}
	
}

@media screen and (max-width: 991px) and (min-width: 768px) {
	.form-content .form-detail .form-group {
		flex-direction:  column;
	
	}
	.form-content .form-detail .form-left .form-group .form-row.form-row-1,
	.form-content .form-detail .form-left .form-group .form-row.form-row-2,
	.form-content .form-detail .form-left .form-group .form-row.form-row-3,
	.form-content .form-detail .form-left .form-group .form-row.form-row-4,
	.form-content .form-detail .form-right .form-group .form-row.form-row-1,
	.form-content .form-detail .form-right .form-group .form-row.form-row-2
	 {
	
	    width: auto;
	    padding: 0 50px 0 60px;
	}
	.form-content .form-detail .select-btn,
	.form-content .form-detail .form-left .form-group .form-row.form-row-4 .select-btn,
	.form-content .form-detail .form-right .form-group .form-row.form-row-2 .select-btn {
		right: 15%;
	}
}
@media screen and (max-width: 767px) {
	.form-content .form-detail {
		flex-direction:  column;

	}
	.form-content .form-detail .form-right {
		border-top-right-radius: 0px;
    	border-bottom-left-radius: 10px;
	}
	.form-content .form-detail .form-left {
		padding-bottom: 50px;
	}
}
@media screen and (max-width: 575px) {
	.label1{
		padding-right: 25px;

	}
	.form-content .form-detail .form-group {
		flex-direction:  column;
	
	}
	.form-content .form-detail .form-row,
	.form-content .form-detail .form-left .form-group .form-row.form-row-1,
	.form-content .form-detail .form-left .form-group .form-row.form-row-2,
	.form-content .form-detail .form-left .form-group .form-row.form-row-3,
	.form-content .form-detail .form-left .form-group .form-row.form-row-4,
	.form-content .form-detail .form-left .form-group .form-row.form-row-6,
	.form-content .form-detail .form-left .col-1,
	.form-content .form-detail .form-right .form-group .form-row.form-row-1,
	.form-content .form-detail .form-right .form-group .form-row.form-row-2
	
	{
	    width: auto;
	    padding: 0 30px;
	}
	.form-content .form-detail .select-btn,
	.form-content .form-detail .form-left .form-group .form-row.form-row-4 .select-btn,
	.form-content .form-detail .form-right .form-group .form-row.form-row-2 .select-btn {
		right: 15%;
	}
	.form-content .form-detail h2 {
	    padding: 100px 30px 0px 30px;
	}
	.form-content .form-detail .form-checkbox {
		padding: 0 30px;
	}
	.form-content .form-detail .form-checkbox .checkmark {
		left: 30px;
	}
	.form-content .form-detail .form-right .form-row-last {
		padding-left: 0;
		text-align: center;
	    margin: 44px 0 30px;
	}

	.form-content .form-detail .form-left .col-1{
		padding-left: 40px;
	}

	 .form-right .form-group .col-2 {
		width: 90%;
		padding :0 25px 0 20px;
	}

	.form-right .form-group .col-3 {
		width: 90%;
		padding :0 20px 0 20px;
	}



}


