* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgb(207, 206, 206);
  font-size: 14px;
  background-image: url('../img/backgr7.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  background-color: rgb(255, 255, 255);
  width: 760px;
  max-width: 100vw;
  height: 480px;
  position: relative;
  overflow-x: hidden;
  border-radius: 10px;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
			0 10px 10px rgba(0,0,0,0.22);
      background-image: url('../img/backgr2.jpg');
      background-size: cover;
      background-repeat: no-repeat;
  
}

.container.back-button{
  margin-top: 20px;
}

.container.back-button a{
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  background-color:  #33383b;
  border-radius: 2px;

  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;

  margin-right: 3px;
  margin-bottom: 5px;
}

.container .forms-container {
  position: relative;
  width: 50%;
  text-align: center;
}

.container .forms-container .form-section {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 480px;
  transition: all 0.5s ease-in;
}

.container .forms-container .form-section h2 {
  font-size: 2rem;
  color:#fff;
}

.container .forms-container .form-section form {
  display: flex;
  flex-direction: column;
  margin: 0px 30px;
  color:#fff;
}


.container .forms-container .form-section form input {
  margin: 10px 0px;
  border: none;
  padding: 15px;
  background-color: #efefef;
  border-radius: 10px;
}

.container .forms-container .form-section form button {/*background of log-in admin*/
  border: solid white;
  padding: 20px;
  margin-top: 10px;
  background-color: #700a0aec;
  border-radius: 20px;
  color: #fff;
  cursor: pointer;
  width:50%;
  justify-content: center;
  display:flex;
  align-items: center;
  align-self: center;
  font-size: 20px;

}


.container .forms-container .form-section form button:focus {
  outline: none;
}


.container .forms-container .form-section.enrollee-form {/*background container for the admin section*/
  opacity: 0;
  z-index: 1;
  left: 200%;
  background-color: #800606d2;
}
.container .forms-container .form-section.admin-form { /*background container for the admin section*/
  opacity: 1;
  z-index: 2;
  left: 0%;
  background-color:#000000cb;
}
.container .overlay {
  position: relative;
  left: 50%;
  width: 50%;
  text-align: center;
}
.container .overlay .overlay-panel {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 480px;
  color: rgb(255, 255, 255);
  transition: all 0.5s ease-in;
}

.container .overlay .overlay-panel .overlay-panel-active {
  margin: 0px 30px;
}

.container .overlay .overlay-panel button { /*button to change lof forms*/
  border: none;
  padding: 15px 30px;
  background-color: #242121f6;
  border: #ffffff solid;
  border-radius: 50px;
  font-size: 15px;
  color: #fffcfc;
  cursor: pointer;
}

.container .overlay .overlay-panel button:focus, .container .overlay .overlay-panel button:hover {
  outline: none;
  background-color: #5c5b5b; /*hover*/
}

.container .overlay .overlay-panel h3,
.container .overlay .overlay-panel p {
  margin: 10px 0px;
}

.container .overlay .overlay-panel p {
  padding-top: 80px;
  text-shadow: 2px 2px 2px #000;
  font-size: 15px;
 
  
}




.container .overlay .overlay-panel.adlog {
  opacity: 1;
  z-index: 2;

}

.container .overlay .overlay-panel.enllog {
  opacity: 0;
  z-index: 1;
}

.change .forms-container .form-section.enrollee-form {
  opacity: 1;
  z-index: 2;
  transform: translateX(-100%);
}
.change .forms-container .form-section.enrollee-form button {
  background-color: #222121ea !important;
}
.change .forms-container .form-section.admin-form {
  opacity: 0;
  z-index: 1;
  transform: translateX(-100%);
  background-color: #000000;
}
.change .overlay .overlay-panel {
  transform: translateX(-100%);
}

.change .overlay .overlay-panel.adlog {
  opacity: 0;
  z-index: 1;
}
.change .overlay .overlay-panel.enllog {
  opacity: 1;
  z-index: 2;
}

.no-account {
  color: #fff;
}

.form-section.enrollee-form a{/*evan*/
  margin-top: 40px;
  color: white;
}
.field{
  display: flex;
  margin-bottom: 10px;
  flex-direction: column;

}
.btn{
  height: 35px;
  background: rgba(76,68,182,0.808);
  border: 0;
  border-radius: 5px;
  color: #fff;
  font-size: 15px;
  cursor: pointer;
  transition: all .3s;
  margin-top: 10px;
  padding: 0px 10px;
}
.btn:hover{
  opacity: 0.82;
}
.submit{
  width: 100%;
}
@media screen and (max-width: 480px) {

  
  .container {
    height: 95vh;
    display: flex;
    flex-direction: column;
  }
  .container .forms-container {
    order: 2;
    width: 100%;
    height: 50vh;
  }
  .container .forms-container .form-section {
    position: absolute;
    height: 60vh;
  }
  .container .forms-container .form-section.enrollee-form {
    left: 0%;
    margin-top: 0px;
   
  }
  .container .overlay {
    order: 1;
    width: 100%;
    left: 0%;
    height: 40vh;
  }
  .container .overlay .overlay-panel {
    position: absolute;
    height: 40vh;
  }

  .change .forms-container .form-section.enrollee-form {
    transform: translateX(0%);
  }
  .change .forms-container .form-section.admin-form {
    transform: translateX(0%);
    height: 30vh;
  }
  .change .overlay .overlay-panel {
    transform: translateX(0%);
  }

}