
* {
  box-sizing: border-box; 
}

body {
  font-family: "Muli-Regular";
  color: rgb(0, 0, 0);
  font-size: 13px;
  margin: 0; 
}

input, textarea, select, button {
  font-family: "Muli-Regular";
  color: #333;
  font-size: 13px; 
}

p, h1, h2, h3, h4, h5, h6, ul {
  margin: 0; 
}

img {
  max-width: 100%; 
}

ul {
  padding-left: 0;
  margin-bottom: 0; 
}

a:hover {
  text-decoration: none; 
}

:focus {
  outline: none; 
}

.wrapper {
  min-height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center; 
  background-image: url('../img/backgr3.jpg')
}

.container {
  min-width: 850px;
  margin: auto;
  padding-top: 68px;
  padding-bottom: 48px;
  background: url("../img/backgr6.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 15px;
  padding-left: 35px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.377), 
  0 10px 10px rgba(0, 0, 0, 0.329);

}
  .container h3 {
    text-transform: uppercase;
    font-size: 15px;
    font-family: "Muli-Bold";
    text-align: center;
    margin-bottom: 32px;
    color: rgb(160, 17, 17);
    letter-spacing: 2px; 
  }
  
    .container h1{
      text-align: center;
    }

form {
  width: 50%;
  padding-left: 45px; 
}

  form img{
    width: auto;
    height:75px;
  }

.form-group {
  display: flex; 
}

  .form-group .form-wrapper {
    width: 50%; 
  }

    .form-group .form-wrapper:first-child {
      margin-right: 20px; 
    }

.form-wrapper {
  margin-bottom: 17px; 
}

  .form-wrapper label {
    margin-bottom: 9px;
    display: block; 
  }

.form-control {
  border: 1px solid rgb(53, 53, 53);
  display: block;
  width: 100%;
  height: 40px;
  padding: 0 20px;
  border-radius: 20px;
  font-family: "Muli-Bold";
  background: white; 

}
  .form-control:focus {
    border: 1px solid #ae3c33; 
  }
  .field{
    display: flex;
    margin-bottom: 10px;
    flex-direction: column;

}
.btn{
  height: 35px;
  background: rgba(76,68,182,0.808);
  border: 0;
  border-radius: 5px;
  color: #fff;
  font-size: 15px;
  cursor: pointer;
  transition: all .3s;
  margin-top: 10px;
  padding: 0px 10px;
}
.btn:hover{
  opacity: 0.82;
}
.submit{
  width: 100%;
}

select {
  cursor: pointer;
  padding-left: 20px; 

}
  select option[value=""][disabled] {
    display: none; 
  }

button {
  border: none;
  width: 152px;
  height: 40px;
  margin: auto;
  margin-top: 29px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  background: #941515;
  border: #ebebeb;
  font-size: 13px;
  color: #fff;
  text-transform: uppercase;
  font-family: "Muli-SemiBold";
  border-radius: 20px;
  overflow: hidden;
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  transition-property: color;
  transition-duration: 0.5s; 
}
  
.checkbox {
  position: relative; 
}
  .checkbox label {
    padding-left: 22px;
    cursor: pointer; 
  }
  .checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer; 
  }

  .checkbox input:checked ~ .checkmark:after {
    display: block; 
  }

.checkmark {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  height: 12px;
  width: 13px;
  border-radius: 2px;
  background-color: #ebebeb;
  border: 1px solid #ccc;
  font-family: Material-Design-Iconic-Font;
  color: #000;
  font-size: 10px;
  font-weight: bolder; 
}
  .checkmark:after {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    content:"\2713";
  }

@media (max-width: 991px) {
  body{
    color: #fff;
  }
  .container {
    min-width: 768px;
  } 
  .form-control {
    border: 2px solid rgb(172, 27, 27);
  }
  
  }
@media (max-width: 767px) {
  .container {
    min-width: auto;
    background: none;
    padding-top: 0;
    padding-bottom: 0; 
    height: 150%;
    box-shadow: none;
    }
  form {
    width: 100%;
    padding-right: 15px;
    padding-left: 5px; 
  } 

}